# Python Basics


### Press SHIFT+TAB before fxn brackets for help.
### Hit the TAB key for any suggestions.

### Data Types in Python

In [1]:
# No data type is defined.
1+4

5

In [2]:
10%2

0

In [3]:
# To get the power
10**2

100

In [4]:
# To check Data Type

type('Msg')
#type(['1',2,3,'jhgfd',6])

str

### Variable Assignment

In [5]:
# Syntax: VarName = value

a = 10
b = 20
msg = 'testing'

### Mathematical Operations

In [6]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b))

#BODMAS RULE

200
0.5
10
200.5

### Printing

In [7]:
print([1,2,3,], end = ' ')
print(18,12,2020, sep='-')

[1, 2, 3] 18-12-2020

In [8]:
print("Value of a is {} and b is {}".format(a,b))

Value of a is 10 and b is 20

In [9]:
# To get the length of any variable
len(msg)

7

## Data Structures and Boolean

- Boolean
- Boolean & Logical Operations
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

Boolean Variables are two constant objects named True(1) and False(1).

You can use built-in function bool() to cast any value to boolean.

In [10]:
print(True)

True

In [11]:
print(False)

False

In [12]:
type(True)

bool

### Lists

A list is a Data structure that is a mutable or changeable, ordered sequence of elements. Each element or value that is inside list is called an **item**.
It is defined by having values between **[]** brackets.

In [13]:
type([])

list

In [14]:
lst = list()
lst = ['Sourcing','Coding','Maths','Stats','ML',200]
print(lst)

['Sourcing', 'Coding', 'Maths', 'Stats', 'ML', 200]

**In-built functions**
1. Append
2. Insert
3. Extend
4. Pop
5. Remove
6. Clear
7. Index
8. Count
9. Sort
10. Reverse

In [15]:
# Append - adds element at the end of list
lst.append(400)
lst

['Sourcing', 'Coding', 'Maths', 'Stats', 'ML', 200, 400]

In [16]:
# Insert - adds element at any index mentioned
lst.insert(5,100)
lst

['Sourcing', 'Coding', 'Maths', 'Stats', 'ML', 100, 200, 400]

In [17]:
# Extend - 
lst.extend([300,500])
lst

['Sourcing', 'Coding', 'Maths', 'Stats', 'ML', 100, 200, 400, 300, 500]

In [18]:
# Pop - Delete the element from list (by default - last element)
lst.pop()
#lst.pop(1)
lst

['Sourcing', 'Coding', 'Maths', 'Stats', 'ML', 100, 200, 400, 300]

In [19]:
# Remove - Removes the specific item from list
lst.remove(100)
lst

['Sourcing', 'Coding', 'Maths', 'Stats', 'ML', 200, 400, 300]

In [20]:
# Index - returns the index of first occurence, start & end index are not necessary
lst.index('Coding')

1

In [21]:
# Count - counts the number of times element is present
lst.count(200)

1

In [22]:
# Sort - sorts the list in mentioned order (ascending by default)
lst.sort(key = lambda item: str(item))
lst

[200, 300, 400, 'Coding', 'ML', 'Maths', 'Sourcing', 'Stats']

In [23]:
# Reverse - reverses the items of list in place
lst.reverse()
lst

['Stats', 'Sourcing', 'Maths', 'ML', 'Coding', 400, 300, 200]

In [24]:
# Clear - removes all items from the list
lst.clear()
lst

[]

**Sets**

A set is an unordered collection of data that is iterable, mutable and has no duplicate items. Based on data structure known as Hash Table. It uses **{}** brackets.
Indexing is not supported in sets.

In [25]:
st = set()
print(st)
print(type(st))

alpha = set('message')
print("Alphas are: {}.".format(alpha))

set()
<class 'set'>
Alphas are: {'a', 'e', 's', 'g', 'm'}.

In [26]:
st = {'Coding', 'Maths', 'ML', 'Stats', 'Sourcing'}
print(st)
print(type(st))

{'Maths', 'Sourcing', 'ML', 'Coding', 'Stats'}
<class 'set'>

**In-built functins**

1. Add
2. Update
3. Remove
4. Discard
5. Union
6. Intersection
7. Difference
8. Symmetric Difference

In [27]:
# Add - used to add/insert a non-duplicate item in the set
st.add(100)
st.add('Yawn')
print(st)

{'Maths', 100, 'Sourcing', 'ML', 'Coding', 'Yawn', 'Stats'}

In [28]:
# Update - updates the set adding items from other iterables
st.update(alpha)
print(st)

{'Maths', 100, 'a', 'e', 'Sourcing', 's', 'ML', 'm', 'g', 'Coding', 'Yawn', 'Stats'}

In [29]:
# Remove - emoves the element from set, gives an error if element not present
st.remove(100)
print(st)

{'Maths', 'a', 'e', 'Sourcing', 's', 'ML', 'm', 'g', 'Coding', 'Yawn', 'Stats'}

In [30]:
# Discard - same as remove, but no error for absence of element
st.discard('z')
# st.remove('z')
print(st)

{'Maths', 'a', 'e', 'Sourcing', 's', 'ML', 'm', 'g', 'Coding', 'Yawn', 'Stats'}

In [31]:
# Union (|) - gives the unique elements of both sets, but not saved

set1 = set('random')
set2 = set('message')
set1.union(set2)

{'a', 'd', 'e', 'g', 'm', 'n', 'o', 'r', 's'}

In [32]:
# Intersection (&) - gives the unique items present in both sets,, but not saved

set1.intersection(set2)

{'a', 'm'}

In [33]:
# Difference (-) - gives the unique items present in A but not in B,, but not saved

set1.difference(set2)

{'d', 'n', 'o', 'r'}

In [34]:
# Symmetric Difference (^) - gives the unique items present in A but not in B,, but not saved

set1.symmetric_difference(set2)

{'d', 'e', 'g', 'n', 'o', 'r', 's'}

In [35]:
# To update the set in place also, use _update like:
set1.difference_update(set2)
print(set1)

{'o', 'r', 'n', 'd'}

**Dictionaries**

A dictionary is a collection which is unordered, changeable and indexed. They are written using **{ }** brackets.
They have **keys** and **values**.

In [36]:
dic = {}
type(dic)

dict

In [41]:
carDic = {'car1':'Audi', 'car2':'BMW', 'car3':'Mercedez'}
type(carDic)

dict

In [42]:
carDic['car2']

'BMW'

In [50]:
# To get keys only
for car in carDic:
    print(car,end=' ')
print()

# To get the values only
for car in carDic.values():
    print(car, end=' ')
print()

# To get both keys and values
for car in carDic.items():
    print(car, end=' ')

car1 car2 car3
Audi BMW Mercedez
('car1', 'Audi') ('car2', 'BMW') ('car3', 'Mercedez')

**In-built functions**

1. 
2.

**Tuples**

Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking.
You can access elements via indeing.

In [52]:
t = 12345, 54321, 'hello!'
type(t)

tuple

In [53]:
newTuple = ()
type(newTuple)

tuple

In [54]:
print(t[1])

54321

**In-built functions**
1. 
2.